*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    text-align: center;
    background: linear-gradient(to bottom right,#c70c73,#291520);
  }
  
h1{
    color: #fff;
    background-color: red;
    display: inline-block;
    text-align: center;
}

.container{
   
   height: 70vh;
   display: flex;
   
   justify-content: center;
   align-items: center;
}
.game{
  height:60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box{
  height: 17vmin;
  width: 17vmin;
border-radius: 1rem;
margin: 4px;
box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
font-size: 9vmin;
background-color: blanchedalmond;
color: #000;


}

.clear{
  height: 32px;
  width: 62px;
  border-radius: 9px;
   border: none;

   background-color: blue;
   color: white;
   font-size: 1rem;


}
   .clear:hover{
    background-color: #ccc;
    color: #000;
    font-size: 1rem;
   }